name: library
# What version of the docker-compose file syntax do we use?
version: '3.8'

# Lists which volumes will be used to run our docker containers.
volumes:
  postgres_data:

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: library_db
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

#  library-app:
#    build: .
#    container_name: spring-boot-app
#    restart: always
#    ports:
#      - "127.0.0.1:8080:8080"
#    environment:
#      # Активируем профили: docker (для database-docker.properties) и jpa (для репозиториев)
#      SPRING_PROFILES_ACTIVE: docker,jpa
#    depends_on:
#      postgres:
#        condition: service_healthy
#    networks:
#      - app-network

  pgAdmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "127.0.0.1:5050:80"
    depends_on:
      - postgres
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
