server:
  port: ${PORT:8086}

spring:
  config:
    import:
      - classpath:properties/database.properties
      - classpath:properties/application.properties
      - classpath:properties/logging.properties
  application:
    name: ${PROJECT_NAME:library-app}
  profiles:
    active: ${PROFILES_DB:dev}
  jpa:
    show-sql: ${SHOW_SQL:false}
    open-in-view: false
    hibernate:
      ddl-auto: ${DDL_AUTO:update}
    defer-datasource-initialization: true
    properties:
      hibernate:
        generate_statistics: false
        jdbc:
          batch_size: 100
        order_inserts: true
        order_updates: true
  sql:
    init:
      mode: always
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

springdoc:
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    root: INFO   #ERROR   #OFF
    com.example.demo: DEBUG
#    org.springframework: WARN DEBUG TRACE
#    org.springframework.security.web: DEBUG
#    org.springframework.security.authentication: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, env, loggers
