server:
  port: ${PORT:8080}

spring:
  config:
    import: classpath:database.properties
  application:
    name: ${PROJECT_NAME:library-app}
  profiles:
    active: ${PROFILES_DB:dev}
  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: ${DDL_AUTO} # или update
    defer-datasource-initialization: true
    properties:
      generate_statistics: true
      hibernate:
        jdbc:
          batch_size: 100
        order_inserts: true
        order_updates: true
  sql:
    init:
      mode: always
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

springdoc:
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
#    org.springframework: DEBUG TRACE
#    org.springframework.security.web: DEBUG
#    org.springframework.security.authentication: DEBUG
    root: INFO #ERROR   #OFF
    com.example.demo: DEBUG
    org.springframework: WARN

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, env, loggers
